@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
.bg-color{
    background-color: #f1e7db;
}

.container{
    display: flex;
    justify-content: space-around;
    
    
     
}
.header{
    font-size: 40px;
    margin-top: 30px;
}
.items{
    display: flex;
    margin-top: 45px;
    gap: 30px;
    
}
.item{
    list-style:none ;
    margin-right: 20px;
    font-size: 18px;
    
}

/* <!-- second part start --> */
.main{
    text-align: center;
    margin-top: 116px;
}
.head-tittle{
    font-size: 64px;
    
}
.paragraph{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}
.button{
    color: aliceblue;
    font-size: 20px;
    height: 64px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color:#FF900E ;
    margin-top: 20px;
}
.picture{
    height: 700px;
    width: 1440px;
    margin-top: 50px;
    margin-left: 240px;
}
/* Third part start  */
.images{
    margin-left: 301px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
}
.gray{
    color: #727272;
}
.font{
    font-weight: 900;
}
.colour{
    color: #FF900E;
}
.image{
    height: 340px;
    width: 340px;
    

}
.third-part{
    display: flex;
    margin-top:130px ;
    
}
.section-two{
    margin-left: 73px;
    padding-top:200px ;
    
}
.tittle{
     font-size: 45px;
     font-weight: 500;
     
}
/* fourth part start */

.fourth-section{
  display: flex;
  margin-top: 130px;
  margin-left: 240px;
  gap: 80px;

}
.image-section{
    height:982px ;
    width: 700px;
    
    justify-items: right;
}
.fourth-tittle{
    font-size: 45px;
    font-weight: 800;
    line-height:52.79px; 
}
.fourth-para{
    color: #727272;
    height: 78px;
    width: 586px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}
.button{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 840px;
    top: 2960px;
    line-height: 40px;
}
.btn-one{
    height: 200px;
    width: 342px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
}
.btn-font{
    font-size: 25px;
    font-weight: 500;
    
}


.para-one{
    margin-top: 10px;
    color: #727272;
}
.part-four-0{
    height:100px;
    width: 500px;
    margin-top: 30px;
    justify-content: center;
    padding: 30px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.part-four-1{
    height:100px;
    width: 500px;
    margin-top: 20px;
    justify-content: center;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.part-four-2{
    height:100px;
    width: 500px;
    margin-top: 20px;
    justify-content: center;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.part-four-3{
    height:100px;
    width: 500px;
    margin-top: 20px;
    justify-content: center;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}


/* fifth part start */
.fifth-section{
    margin-top: 150px;
    margin-left: 260px;
}

.fifth-para{
    font-size: 30px;
    font-weight: 700;
}
.fifth-content{
    margin-top: 24px;
    color: #727272;
}
/* <!-- six section start --> */
.six-container{
    display: flex ;
    
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 320px;
    gap: 140px;
}
.content{
    height: 130px;
    width: 170px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.item{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
/* <!-- seven section start --> */
.seven-section{
    text-align: center;
    margin-top: 110px;
}
.seven-item{
    font-size: 40px;
    font-weight: 800;
}
.seven-para{
    font-size:16px ;
    color: #727272;
    margin-top: 24px;
}
/* eight para start */
.eight-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 130px;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
/* <!-- nine part start --> */
.nine-container{
    height: 80px;
    width: 1400px;
    border-radius: 8px;
    text-align: center;
    margin-top: 130px;
    margin-left: 240px;
    margin-bottom: 216px;
    background-color: #FFF4E7;
}
.nine-para{
  
    padding: 30px;
}

/* Responsive web site  */
@media screen and (max-width:576px) {
    
}